In [1]:
import pandas as pd
import sys, os
import importlib 
sys.path.append(os.path.abspath(".."))# 一个点回到sandboxJO， 两个点回到multimodal_ab
print(sys.path)

['d:\\miniconda3\\envs\\airbnb_env\\python310.zip', 'd:\\miniconda3\\envs\\airbnb_env\\DLLs', 'd:\\miniconda3\\envs\\airbnb_env\\lib', 'd:\\miniconda3\\envs\\airbnb_env', '', 'd:\\miniconda3\\envs\\airbnb_env\\lib\\site-packages', 'd:\\miniconda3\\envs\\airbnb_env\\lib\\site-packages\\win32', 'd:\\miniconda3\\envs\\airbnb_env\\lib\\site-packages\\win32\\lib', 'd:\\miniconda3\\envs\\airbnb_env\\lib\\site-packages\\Pythonwin', 'd:\\Edu\\SelfPresentation_Multimodal_airbnb']

In [4]:
df=pd.read_csv("data_jo_3_processed\listings_jo_paris2024_change_processed.csv")

C:\Users\yeliu\AppData\Local\Temp\ipykernel_27604\3893134355.py:1: DtypeWarning: Columns (77,79) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("data_jo_3_processed\listings_jo_paris2024_change_processed.csv")

# proxy test (skipable) :

In [11]:
df=pd.read_csv("data_jo_processed\listings_jo_paris2024_change_processed.csv")
print(len(df))
display(df.head())
print(df.columns)

23757

C:\Users\yeliu\AppData\Local\Temp\ipykernel_22148\3056897446.py:1: DtypeWarning: Columns (77,79) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("data_jo_processed\listings_jo_paris2024_change_processed.csv")

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,host_picture_url_q1,host_picture_url_changed,presentation_change,is_changed,has_rating,days_since_host,years_since_host,has_host_about,len,has_response_rate
0,80327,https://www.airbnb.com/rooms/80327,20240610195007,2024-06-12,city scrape,PETIT APPARTEMENT PARIS 18,NaN,NaN,https://a0.muscache.com/pictures/67eca081-2478...,228508,...,NaN,1,2,True,1,5026,14,1,16,1
1,81033,https://www.airbnb.com/rooms/81033,20240610195007,2024-06-13,city scrape,Marais Luxe High Ceiling 1 Br BAIL MOBILITE,This 38 square meters 1bed apartment in Paris ...,In the center of the Marais . Great parisian l...,https://a0.muscache.com/pictures/3307663/e4e95...,438828,...,NaN,1,2,True,1,4840,13,1,152,1
2,81615,https://www.airbnb.com/rooms/81615,20240610195007,2024-06-12,city scrape,Eiffel Tower Studio Paris,Eiffel tower studio. Modern and design appartm...,NaN,https://a0.muscache.com/pictures/2630947/9340f...,429406,...,https://a0.muscache.com/im/users/429406/profil...,0,1,True,1,4845,13,1,70,1
3,84820,https://www.airbnb.com/rooms/84820,20240610195007,2024-06-13,city scrape,Bird's nest in Montmartre: Sun/view all over P...,"Apartment, two rooms, very calm and sunny.<br ...","So many bars, restaurants, shops, 5mn from Sac...",https://a0.muscache.com/pictures/581023/86105d...,464019,...,NaN,1,2,True,1,4827,13,1,24,1
4,12452,https://www.airbnb.com/rooms/12452,20240610195007,2024-06-12,city scrape,Voltaire Charm,You will spend a pleasant stay in this bright ...,﻿<br />The apartment is located in the 11th di...,https://a0.muscache.com/pictures/miso/Hosting-...,48733,...,NaN,1,2,True,1,5341,15,1,218,1

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'source', 'name',
       'description', 'neighborhood_overview', 'picture_url', 'host_id',
       'host_url', 'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month',
       'scraped_date', 'status', 'host_about_q1', 'host_about_changed',
       'host_picture_url_q1', 'host_picture_url_changed',
       'presentation_change', 'is_changed', 'has_rating', 'days_since_host',
       'years_since_host', 'has_host_about', 'len', 'has_response_rate'],
      dtype='object')

In [ ]:
proxy_vars=['price',"availability_90"]
## price:
df['price'] = (
    df['price']
    .replace('[\$,]', '', regex=True)  # 去掉 $ 和 ,
    .astype(float)                     # 转成数值
)


print(f"len avant de filtrer 'price', 'availability_90': {len(df)}")
df=df[(df["price"]!=None) and df['availability_90']!=None]
print(f"apres: {len(df)}")

for var in proxy_vars:
    print(df[var].dtype)
    if df[var].dtype =="int64" or df[var].dtype =="float64":#!="object"
        print(df[var].value_counts(dropna=False),"\n")
        print(df[var].describe(include='all'),"\n")

    else :             
        print(df[var].value_counts(dropna=False),"\n")
    print("-----------------------------------------------------------")

float64
price
NaN       959
200.0     783
150.0     653
120.0     623
100.0     557
         ...
1051.0      1
2451.0      1
857.0       1
545.0       1
4001.0      1
Name: count, Length: 1084, dtype: int64

count    22798.000000
mean       297.505000
std        785.736813
min         12.000000
25%        110.000000
50%        168.000000
75%        298.000000
max      72000.000000
Name: price, dtype: float64

-----------------------------------------------------------
int64
availability_90
89    1236
0     1093
62     536
90     528
71     415
      ...
6       88
3       88
5       83
4       80
2       69
Name: count, Length: 91, dtype: int64

count    23757.000000
mean        49.885255
std         26.506241
min          0.000000
25%         29.000000
50%         51.000000
75%         72.000000
max         90.000000
Name: availability_90, dtype: float64

-----------------------------------------------------------

# obj_vars test(skipable):

In [12]:
df.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'source', 'name',
       'description', 'neighborhood_overview', 'picture_url', 'host_id',
       'host_url', 'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month',
       'scraped_date', 'status', 'host_about_q1', 'host_about_changed',
       'host_picture_url_q1', 'host_picture_url_changed',
       'presentation_change', 'is_changed', 'has_rating', 'days_since_host',
       'years_since_host', 'has_host_about', 'len', 'has_response_rate'],
      dtype='object')

In [ ]:
obj_vars_all=["name", "picture_url", 
          "property_type", "room_type", "description","amenities", 
          "minimum_nights","instant_bookable","neighbourhood_cleansed"
          ]

obj_vars=["room_type", "minimum_nights","instant_bookable"]#all ok,无缺失/异常

for var in obj_vars:
    # print(f"var : {var}, type : {df[var].dtype}")
    if df[var].dtype =="int64" or df[var].dtype =="float64":#!="object"数字型
        print(f"NAN:{df[var].isna().sum()}")
        print(df[var].describe(include='all'),"\n")
    else :             
        print(df[var].value_counts(dropna=False).sort_values(ascending=False),"\n")
    print("-----------------------------------------------------------")

room_type
Entire home/apt    21962
Private room        1679
Shared room           80
Hotel room            36
Name: count, dtype: int64

-----------------------------------------------------------
NAN:0
count    23757.000000
mean         7.421813
std         31.316397
min          1.000000
25%          1.000000
50%          2.000000
75%          4.000000
max        729.000000
Name: minimum_nights, dtype: float64

-----------------------------------------------------------
instant_bookable
f    17295
t     6462
Name: count, dtype: int64

-----------------------------------------------------------

# LOCATION! LOCATION! LOCATION!

# PROXY FILTRER + OBJ VARS + WITHIN KM

In [5]:
from utils import preprocess_data
importlib.reload(preprocess_data)
from utils.preprocess_data import filter_by_proxy,  add_is_within_km, preprocess_obj_vars

In [6]:
dfparis20204_change=pd.read_csv("data_jo_3_processed\listings_jo_paris2024_change_processed.csv")
df=dfparis20204_change.copy()
df_filtered=preprocess_obj_vars(df, proxy_vars=['price',"availability_90"], obj_vars=["room_type", "minimum_nights","instant_bookable"], threshold_km=3)

C:\Users\yeliu\AppData\Local\Temp\ipykernel_27604\3987626243.py:1: DtypeWarning: Columns (77,79) have mixed types. Specify dtype option on import or set low_memory=False.
  dfparis20204_change=pd.read_csv("data_jo_3_processed\listings_jo_paris2024_change_processed.csv")

**************************PROXY + OBJ VARS******************************
PROCESS METHODS :
1) process proxies :price, availability_90:
  nettoyer + dropna sur les vars : price, availability_90
  ==> get df_filtered

2) desc statistique :room_type, minimum_nights, instant_bookable

3) location :'latitude','longitude':
  计算房源到各大主要venue的距离，果最小值<=5km, 则在is_within_3km上填1,反之0



==============================PROXY=============================

---------------------PROXY (before filtrated)---------------------
float64
price
NaN       959
200.0     783
150.0     653
120.0     623
100.0     557
         ...
1051.0      1
2451.0      1
857.0       1
545.0       1
4001.0      1
Name: count, Length: 1084, dtype: int64

count    22798.000000
mean       297.505000
std        785.736813
min         12.000000
25%        110.000000
50%        168.000000
75%        298.000000
max      72000.000000
Name: price, dtype: float64

-----------------------------------------------------------
int64
availability_90
89    1236
0     1093
62     536
90     528
71     415
      ...
6       88
3       88
5       83
4       80
2       69
Name: count, Length: 91, dtype: int64

count    23757.000000
mean        49.885255
std         26.506241
min          0.000000
25%         29.000000
50%         51.000000
75%         72.000000
max         90.000000
Name: availability_90, dtype: float64

-----------------------------------------------------------
- 959 dropped in price
- 0 dropped in availability_90
len avant de filtrer price, availability_90: 23757
apres: 22798
================= BALN PROCESSED VARIABLES =====================
room_type
Entire home/apt    21962
Private room        1679
Shared room           80
Hotel room            36
Name: count, dtype: int64

-----------------------------------------------------------
count    23757.000000
mean         7.421813
std         31.316397
min          1.000000
25%          1.000000
50%          2.000000
75%          4.000000
max        729.000000
Name: minimum_nights, dtype: float64

-----------------------------------------------------------
instant_bookable
f    17295
t     6462
Name: count, dtype: int64

-----------------------------------------------------------


 ==============================LOCATION=============================
venues_df :
                                venue      lat     lon
0                    Stade de France  48.9244  2.3601
1               Paris Aquatic Centre  48.9235  2.3554
2         Porte de La Chapelle Arena  48.8970  2.3620
3             Paris La Défense Arena  48.8915  2.2370
4                        Bercy Arena  48.8386  2.3781
5  Champ de Mars (Eiffel Tower area)  48.8558  2.2983
6                       Grand Palais  48.8660  2.3117
7                      Les Invalides  48.8565  2.3124
8               Palace of Versailles  48.8059  2.1162

is_within_3km
1    20021
0     2777
Name: count, dtype: int64

In [7]:
display(df_filtered.head())
df_filtered.to_csv("data_jo_3_processed\listings_jo_paris2024_change_processed1.csv")

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,presentation_change,is_changed,has_rating,years_since_host,has_host_about,lang,len,has_response_rate,professional_host,is_within_3km
0,80327,https://www.airbnb.com/rooms/80327,20240610195007,2024-06-12,city scrape,PETIT APPARTEMENT PARIS 18,NaN,NaN,https://a0.muscache.com/pictures/67eca081-2478...,228508,...,2,True,1,14,1,en,16,1,0,1
1,81033,https://www.airbnb.com/rooms/81033,20240610195007,2024-06-13,city scrape,Marais Luxe High Ceiling 1 Br BAIL MOBILITE,This 38 square meters 1bed apartment in Paris ...,In the center of the Marais . Great parisian l...,https://a0.muscache.com/pictures/3307663/e4e95...,438828,...,2,True,1,13,1,fr,152,1,1,1
2,81615,https://www.airbnb.com/rooms/81615,20240610195007,2024-06-12,city scrape,Eiffel Tower Studio Paris,Eiffel tower studio. Modern and design appartm...,NaN,https://a0.muscache.com/pictures/2630947/9340f...,429406,...,1,True,1,13,1,en,70,1,0,1
3,84820,https://www.airbnb.com/rooms/84820,20240610195007,2024-06-13,city scrape,Bird's nest in Montmartre: Sun/view all over P...,"Apartment, two rooms, very calm and sunny.<br ...","So many bars, restaurants, shops, 5mn from Sac...",https://a0.muscache.com/pictures/581023/86105d...,464019,...,2,True,1,13,1,en,24,1,0,1
4,12452,https://www.airbnb.com/rooms/12452,20240610195007,2024-06-12,city scrape,Voltaire Charm,You will spend a pleasant stay in this bright ...,﻿<br />The apartment is located in the 11th di...,https://a0.muscache.com/pictures/miso/Hosting-...,48733,...,2,True,1,15,1,fr,218,1,0,1

# 完整数据处理+保存:

In [10]:
import pandas as pd
import sys, os, time
import importlib
sys.path.append(os.path.abspath(".."))

from utils import preprocess_data
importlib.reload(preprocess_data)
from utils.preprocess_data import preprocess_obj_vars

In [ ]:
start_time=time.time()
cities=['paris','london']
for c in cities:
    print(f"{c}")
    df=pd.read_csv(f"data_jo_3_processed\listings_jo_{c}2024_processed.csv")
    df_filtered=preprocess_obj_vars(df, proxy_vars=['price',"availability_90"], obj_vars=["room_type", "minimum_nights","instant_bookable"], threshold_km=3)
    df_filtered.to_csv(f"data_jo_3_processed\listings_jo_{c}2024_processed1.csv")
    print(f"\n ✔ data saved in 'data_jo_3_processed\listings_jo_{c}2024_processed1.csv'!\n\n\n")
end_time=time.time()
print(f"ALL processes done in {end_time-start_time:.2f}sec!")

paris

C:\Users\yeliu\AppData\Local\Temp\ipykernel_27604\2647183011.py:5: DtypeWarning: Columns (77,79) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(f"data_jo_3_processed\listings_jo_{c}2024_processed.csv")

**************************PROXY + OBJ VARS******************************
PROCESS METHODS :
1) process proxies :price, availability_90:
  nettoyer + dropna sur les vars : price, availability_90
  ==> get df_filtered

2) desc statistique :room_type, minimum_nights, instant_bookable

3) location :'latitude','longitude':
  计算房源到各大主要venue的距离，果最小值<=5km, 则在is_within_3km上填1,反之0



==============================PROXY=============================

---------------------PROXY (before filtrated)---------------------
float64
price
NaN       21306
150.0      2176
200.0      2168
120.0      1959
100.0      1825
          ...
6052.0        1
1432.0        1
5440.0        1
6618.0        1
6613.0        1
Name: count, Length: 1599, dtype: int64

count    74579.000000
mean       289.075155
std        684.010923
min         10.000000
25%        109.000000
50%        164.000000
75%        290.000000
max      72000.000000
Name: price, dtype: float64

-----------------------------------------------------------
int64
availability_90
0     21282
89     3125
90     2123
88     1517
62     1444
      ...
3       444
7       440
4       425
6       413
5       381
Name: count, Length: 91, dtype: int64

count    95885.000000
mean        38.818136
std         30.642184
min          0.000000
25%          6.000000
50%         37.000000
75%         66.000000
max         90.000000
Name: availability_90, dtype: float64

-----------------------------------------------------------
- 21306 dropped in price
- 0 dropped in availability_90
len avant de filtrer price, availability_90: 95885
apres: 74579

================= BALN PROCESSED VARIABLES =====================
room_type
Entire home/apt    85733
Private room        8975
Hotel room           776
Shared room          401
Name: count, dtype: int64

-----------------------------------------------------------
count    95885.000000
mean        40.632539
std        106.808557
min          1.000000
25%          2.000000
50%          3.000000
75%          5.000000
max       1000.000000
Name: minimum_nights, dtype: float64

-----------------------------------------------------------
instant_bookable
f    73791
t    22094
Name: count, dtype: int64

-----------------------------------------------------------


 ==============================LOCATION=============================
venues_df :
                                venue      lat     lon
0                    Stade de France  48.9244  2.3601
1               Paris Aquatic Centre  48.9235  2.3554
2         Porte de La Chapelle Arena  48.8970  2.3620
3             Paris La Défense Arena  48.8915  2.2370
4                        Bercy Arena  48.8386  2.3781
5  Champ de Mars (Eiffel Tower area)  48.8558  2.2983
6                       Grand Palais  48.8660  2.3117
7                      Les Invalides  48.8565  2.3124
8               Palace of Versailles  48.8059  2.1162

is_within_3km
1    64912
0     9667
Name: count, dtype: int64
✔ data saved in 'data_jo_3_processed\listings_jo_paris2024_processed1.csv'!



london


**************************PROXY + OBJ VARS******************************
PROCESS METHODS :
1) process proxies :price, availability_90:
  nettoyer + dropna sur les vars : price, availability_90
  ==> get df_filtered

2) desc statistique :room_type, minimum_nights, instant_bookable

3) location :'latitude','longitude':
  计算房源到各大主要venue的距离，果最小值<=5km, 则在is_within_3km上填1,反之0



==============================PROXY=============================

---------------------PROXY (before filtrated)---------------------
float64
price
NaN       32059
150.0      1180
100.0      1094
60.0        975
120.0       974
          ...
2143.0        1
1413.0        1
1918.0        1
815.0         1
5720.0        1
Name: count, Length: 1314, dtype: int64

count    61422.000000
mean       209.973527
std        961.421059
min          0.000000
25%         78.000000
50%        138.000000
75%        227.000000
max      80000.000000
Name: price, dtype: float64

-----------------------------------------------------------
int64
availability_90
0     32359
89     4129
90     3407
88     1335
83      958
      ...
84      461
79      460
78      452
85      418
86      415
Name: count, Length: 91, dtype: int64

count    93481.000000
mean        32.727035
std         32.927126
min          0.000000
25%          0.000000
50%         24.000000
75%         62.000000
max         90.000000
Name: availability_90, dtype: float64

-----------------------------------------------------------
- 32059 dropped in price
- 0 dropped in availability_90
len avant de filtrer price, availability_90: 93481
apres: 61422

================= BALN PROCESSED VARIABLES =====================
room_type
Entire home/apt    59190
Private room       33645
Shared room          452
Hotel room           194
Name: count, dtype: int64

-----------------------------------------------------------
count    93481.000000
mean         5.459152
std         22.894163
min          1.000000
25%          1.000000
50%          2.000000
75%          4.000000
max       1125.000000
Name: minimum_nights, dtype: float64

-----------------------------------------------------------
instant_bookable
f    66231
t    27250
Name: count, dtype: int64

-----------------------------------------------------------


 ==============================LOCATION=============================
venues_df :
                                venue      lat     lon
0                    Stade de France  48.9244  2.3601
1               Paris Aquatic Centre  48.9235  2.3554
2         Porte de La Chapelle Arena  48.8970  2.3620
3             Paris La Défense Arena  48.8915  2.2370
4                        Bercy Arena  48.8386  2.3781
5  Champ de Mars (Eiffel Tower area)  48.8558  2.2983
6                       Grand Palais  48.8660  2.3117
7                      Les Invalides  48.8565  2.3124
8               Palace of Versailles  48.8059  2.1162

is_within_3km
0    61422
Name: count, dtype: int64